.contacts_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  padding-bottom: 16px;
}
.contacts_item svg{
    fill: var(--text-color-3);
}
.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: inherit;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--text-color-3);
}
